/* NAV */
.navigation{
  max-height: 150px;
  min-height: 10%;  
/*  min-height:150px;
  max-height:100px;
  width:50%;
  background-image: url('./images/logo_red.png');
  background-color: white;
  background-position: 5% 5%;
  background-repeat: no-repeat;
  background-size: contain;*/
}
.logo-head{
  padding: 2% 0 0 5%;
  height:inherit;
  width:auto;
}

/* TOP */
.top-fold{
  background-image: url('./images/833A0162-min2.jpg');
  background-position: 1% 25%;;
  background-repeat: no-repeat;
  background-size: cover;
  height:100%; 
}
.top-text{
  padding: 5%;
  color:white;
  background: rgba(39, 0, 10, 0.3);
  height:inherit; 
}

/* PREVIEW */
h2{
  color: #dc3545 !important;
}
.preview{
  max-width: 1100px;
  margin: 0 auto;
}
.offerings{
  padding-bottom: 5%;
}
.preview-text{
  padding: 5% 10% 5% 10%;
  text-align: center;
}
a{
  color:#796466 !important;
}
a:hover{
  text-decoration: none !important;
  font-weight:bold;
}
img.icon:hover{
  transform: flip;
}
#icon-precollege{
  flex: 0 0 50% !important;
  padding: 5% 0% 0 16%;
  max-width: 50% !important;
}
#icon-start{
  flex: 0 0 50%;
  padding: 5% 16% 0% 0%;
  max-width: 50% !important;
}
/* COURSE DESCRIPTIONS */`
h3{
  color: #dc3545 !important;
}
.icon{
  width:30%;
}
.icon-div{
  padding-top: 5%;
}

.program{
  padding: 5%;
  max-width: 1100px;
  margin: 0 auto;
}
.program-img{
  width:100%;
  float:none;
}
img{
  margin-bottom: 5%;
}
.bg1{
  background-color: #dde9f3;
}
.bg2{
  background-color: aliceblue;
}
.program-img-crop{
  width:inherit;
}
.program-text{
  float:none;
}
.button {
  background-color: #f44336; /* Green */
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
a.button{
  color:white !important;
}
button:hover{
  text-decoration: none !important;
}
/* footer*/
.footer{
  background-color: #98051b;
  height: 100%;
  display: block;
  float: none;
}
.footer-text{
  padding:5%;
  color:#dfbebe;
  text-align: center;
}
.icon-text{
  font-size:1em;
}

/*========== MOBILE============*/
/* 300 to 359 */
@media only screen and (min-width: 300px) and (max-width: 369px){
  .button{
    margin-left: 27.5% !important;
  }
}
/*360px to 400px*/
@media only screen and (min-width: 360px) and (max-width: 400px){
  .button{
    margin-left: 30.5% !important;
  }
}


/*-- 300 to 400px --*/
@media only screen and (min-width: 200px) and (max-width: 440px){
  h1{
    font-size: 2.25rem !important;
  }
  .logo-head{
    width:50%;
    padding: 4% 0 0 4%;
  }
  .top-text{
    padding: 38% 5% 5% 5%;
  }
  .top-fold{
    background-position: right;
  }
  .program-img{
    width:100%;
    height: auto;
  }
  .icon{
    width:70%;
  }
  .icon-bottom{
    width:55%;
  }
  .icon-text{
    font-size: .9em;
  }
  .button{
    margin-left: 32.5%;
  }
}


/* ----- Mobile ---- 441 to 640 */
@media only screen and (min-width: 441px) and (max-width: 540px){

  .logo-head{
    width:45%;
    padding: 4% 0 0 4%;
  }
  .top-fold{
    height:375px;
  }
  .top-text{
    padding: 30% 5% 5% 5%;
    margin-bottom: 5%;
  }
  .top-fold{
    background-position: right;
  }
  .icon{
    width:60%;
  }
  .icon-bottom{
    width:45%;
  }
  .icon-text{
    font-size: .9em;
  }
  .button{
    margin-left: 34%;
  }
}

@media only screen and (min-width: 541px) and (max-width: 640px){
  .logo-head{
    width:40%;
    padding: 4% 0 0 4%;
  }
  .icon{
    width:50%;
  }
  .icon-bottom{
    width:40%;
  }
  .top-text{
    padding: 28% 5% 5% 5%;
  }
  .button{
    margin-left: 37%;
  }
}
/*--- bootstrap XS --*/
@media only screen and (min-width: 0px) and (max-width: 767px){
  h3{
    text-align: center;
  }
}
@media only screen and (min-width: 641px) and (max-width: 767px){
  .button{
    margin-left: 40%;
  }
}

/*--- TABLET PORTRAIT --*/
@media only screen and (min-width: 641px) and (max-width: 980px){
  .navigation{
    height: 15%;
  }
  .logo-head{
    height: inherit;
  }
  .top-fold{
    height:100%;
  }
  .top-text{
    padding: 35% 5% 5% 5%;
  }
  /* program */
  .logo-head{
    /*width:35%;*/
    padding: 4% 0 0 4%;
    height:80px;
    margin-bottom: 3% !important;
  } 
  .icon-bottom{
    width:30%;
  }
}

/* ---TABLET LANDSCAPE --- */
@media only screen and (min-width: 981px) {
  .top-text{
    padding: 35% 5% 5% 5%;
  }
  .navigation{
    height: 15%;
  }
  .logo-head{
    /*width:30%;*/
    height: 80px;
    margin-bottom: 2%;
  }
  .icon-bottom{
    width:30%;
  } 
}




/* -- DESKTOP -- */
/*@media only screen and (min-width: 1201px){
  .top-text{
    padding: 35% 5% 5% 5%;
  }
  .top-fold{
    height:80vh;
  }
}*/
